<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <link rel="stylesheet" href="assets/css/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/icomoon/icomoon.css" rel="stylesheet" type="text/css" />
  <script src="assets/js/vue/vue.js"></script>
  <script src="assets/js/vue/axios.min.js"></script>
  <script src="assets/js/vue/vee-validate.js"></script>
</head>

<body>

  
  <!-- Header Start -->
  <header class="header">
    <div class="wrapper">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo"><img src="assets/images/logo.svg" alt=""></a>
        <a href="javascript:void(0)" class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <ul class="header-nav d-flex">
          <li class="header-nav-list"><a href="javascript:void(0)">SO FUNKTIONIERT’S</a></li>
          <li class="header-nav-list"><a href="javascript:void(0)">SONDERANGEBOTE</a></li>
          <li class="header-nav-list dropdown">
            <a href="javascript:void(0)" class="btn-user toggle-btn"><i class="icon-user margin-r-1"></i> MEIN BEREICH
              <i class="icon-caret-down margin-l-3"></i></a>
            <ul class="dropdown-list">
              <li><a href="">My published jokes</a></li>
              <li><a href="">My saved jokes</a></li>
              <li><a href="">Account Information</a></li>
              <li><a href="">Publish new joke</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- Header End -->


  <!-- Banner Start -->
  <section class="home-banner text-center">
    <div class="wrapper">
      <h2>The Joke Bible</h2>
      <h4 class="text-white">Daily Laughs for you and yours</h4>
      <div id="the-basics" class="input-search d-flex align-items-center margin-b-1">
        <input type="text" placeholder="How can we make you laugh today?" class="typeahead">
        <i class="icon-search"></i>
      </div>
    </div>
  </section>
  <!-- Banner End -->



  <!-- Jokes Main Section Start -->
  <section class="jokes-main" id="home">
    <div class="wrapper">
      <div class="home-buttons">
        <a href="javascript:void(0)" v-for="(Category,Category_index) in  AllCategoryList" v-if="Category_index < 5" v-on:click="getAllJobks(Category)"  :class="'btn '+colour[Category_index]" >{{Category}} jokes</a>
       
      </div>
      <div class="home-buttons">
        <a href="javascript:void(0)" class="btn btn-weird-green" v-for="(Category,Category_index) in  AllCategoryList" v-if="Category_index > 4 && Category_index < 7"  v-on:click="getAllJobks(Category)"   :class="'btn '+colour[Category_index]" >{{Category}} jokes</a>
         
        <a href="javascript:void(0)" class="btn btn-border-toupe" v-on:click="getAllJobks()">view all <i
            class="icon-long-arrow-down pull-right"></i></a>
      </div>

      <!--  -->
      <div class="border-t-1 margin-t-4 margin-b-2">
        <a href="javascript:void(0)" class="badge-green rounded">{{categoryName}} Jokes</a>
      </div>

      <div class="jokes-row row">
        <div class="screen-md-4" v-for="(joks,joks_index) in AlljoksList">
          <div class="jokes-box">
            <div class="text-left jokes-box-text">
              <h4><i class="icon-orange-light"></i> {{joks.categoryName}} Joke</h4>
              <p>{{joks.value}}</p>
            </div>
            <div class="clearfix text-right">
              <a :href="'single-joke.html?d='+joks.id" class="see-status">see stats <i class="icon-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
       <!-- row end -->

      <div class="text-center margin-t-2">
        <a href="javascript:void(0)" class="btn btn-border-toupe">view more <i
            class="icon-long-arrow-down pull-right"></i></a>
      </div>

    </div>
  </section>
  <!-- Jokes Main Section End -->


  
  <!-- footer bottome -->
  <section class="footer-submit-main">
    <div class="wrapper">
      <h4 class="text-white text-uppercase margin-b-1 font-16 font-600">Got jokes? Get paid<br>for submitting!</h4>
      <a href="javascript:void(0)" class="text-uppercase text-toupe font-600">Submit Joke <i
          class="icon-long-arrow-right font-20 middle margin-l-05"></i></a>
    </div>
  </section>
  <!-- footer bottom section -->

  <script type="text/javascript" src="assets/js/vendor/jquery.min.js"></script>
  <script src="assets/js/typeahead/typeahead.bundle.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script>
</body>

</html>