@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?myqpis');
  src:  url('fonts/icomoon.eot?myqpis#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?myqpis') format('truetype'),
    url('fonts/icomoon.woff?myqpis') format('woff'),
    url('fonts/icomoon.svg?myqpis#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-hand-up:before {
  content: "\e903";
}
.icon-orange-light:before {
  content: "\e904";
}
.icon-caret-down:before {
  content: "\e905";
}
.icon-long-arrow-right:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-long-arrow-down:before {
  content: "\e909";
}
