button {
  transition: .5s all ease-in;
}
button:focus {
  outline: none;
  cursor: pointer;
}
.btn {
  padding: 14px 16px;
  display: inline-block;
  min-width: 203px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid;
}
.btn-red, .btn-orange, .btn-pale-orange, .btn-green, .btn-cyan, .btn-weird-green, .btn-yellow {
  color: $white;
  &:hover {
    border-color: $brownish-grey;
    color: $brownish-grey;
  }
}
.btn-red {
  background-color: $grapefruit;
  border-color: $grapefruit;
}

.btn-orange {
  background-color: $pastel-orange;
  border-color: $pastel-orange;
}

.btn-pale-orange {
  background-color: $pale-orange;
  border-color: $pale-orange;
}

.btn-yellow {
  background-color: $light-gold;
  border-color: $light-gold;
}

.btn-green {
  background-color: $kiwi-green;
  border-color: $kiwi-green;
}

.btn-weird-green {
  background-color: $weird-green;
  border-color: $weird-green;
}

.btn-cyan {
  background-color: $tiffany-blue;
  border-color: $tiffany-blue;
}
.btn-border-toupe {
  color: $toupe;
  &:hover {
    background-color: $toupe;
    color: $white;
  }
  i {
    margin-top: 2px;
  }
}
.badge-green {
  background-color: $weird-green;
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 20px;
  border: 1px solid $weird-green;
  &:hover {
    color: $weird-green;
    background-color: $white;
  }
}
.rounded {
  border-radius: 90px;
}

.badge-dotes {
    position: relative;
    &:after {
      content: '';
      width: 4px;
      height: 4px;
      background: #fff;
      border-radius: 90px;
      position: absolute;
      left: 8px;
      top: 9px;
  }
}
.thumb-round {
  border: 0px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 90px;
  color: $white;
  font-size: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}
.red-thumb-round {
  background: $lightish-red;
  &:hover {
    background: $faded-red;
  }
}
.green-thumb-round {
  background: $tea;
  &:hover {
    background: $light-forest-green;
  }
}
.btn-border-white {
  background: $white;
  font-weight: 600;
  text-transform: uppercase;
  color: $toupe;
  padding: 10px 16px;
  border: 1px solid $white-three;
  transition: .5s all ease;
  i {
    vertical-align: middle;
    position: relative;
    top: -1px;
    transition: .5s all ease;
  }
}
.btn-border-white.next {
  &:hover {
    i {
      right: -10px;
    }
  }
}
.btn-border-white.preview {
  &:hover {
    i {
      left: -10px;
    }
  }
}
