.dropdown {
    position: relative;
    .dropdown-list {
        position: absolute;
        top: 76px;
        left: 0;
        background: $white;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all ease;
        border-radius: 4px;
        padding: 0 7px 7px 7px;
        box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.28);
        &:after {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $white;
            content: "";
            position: absolute;
            top: -8px;
            right: 22px;
        }

        li {
            a {
                color: $brownish-grey;
                border-bottom: solid 1px $pinkish-grey;
                display: block;
                padding: 10px 10px;

                &:hover {
                    color: $toupe;
                    font-weight: 600;
                }
            }
            &:last-child a {
                border-bottom: solid 0px;
            }
        }
    }
}
.dropdown.open {
    .dropdown-list {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }
}
