@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: $black;
  font-size: 14px;
  background-color: $white-two;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-black {
  color: $black;
}
.text-white {
  color: $white;
}
.text-green {
  color: $tea;
}
.text-red {
  color: $lightish-red;
}
.text-toupe {
  color: $toupe;
}
.text-uppercase {
  text-transform: uppercase;
}
.font-600 {
  font-weight: 600;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-20 {
  font-size: 20px;
}
.middle {
  vertical-align: middle;
}
.icon-dote {
  width: 4px;
  height: 4px;
  background: $macaroni-and-cheese;
  display: inline-block;
  vertical-align: middle;
  border-radius: 90px;
}
.text-warning {
  color: $macaroni-and-cheese;
}
.nowrap {
  white-space: nowrap;
}
.felx-wrap {
  flex-wrap: wrap;
}