// colours var
$white: #fff;
$black: #303030;
$black-two: #313131;
$toupe: #cfb995;
$brownish-grey: #5e5e5e;
$pinkish-grey: #d1d1d1;
$greyish :#b2b2b2;
$white-two: #f9f9f9;
$kiwi-green: #8fe360;
$tea: #68b680;
$light-forest-green: #46915d;
$lightish-red: #ff3750;
$faded-red: #ce2c40;
$light-gold: #ffdf5b;
$pastel-orange: #ff915b;
$macaroni-and-cheese: #f3a536;
$grapefruit: #ff5b5b;
$pale-orange: #ffbe5b;
$weird-green: #57e690;
$tiffany-blue: #57dbe6;
$white-three: #ecebe9;
$warm-grey: #9c9c9c;
// var for image path
$imgpath: '../images';