@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a, a:hover {
  text-decoration: none;
  transition: .5s all ease;
}

a:hover {
  color: #cfb995;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #303030;
  font-size: 14px;
  background-color: #f9f9f9;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-black {
  color: #303030;
}

.text-white {
  color: #fff;
}

.text-green {
  color: #68b680;
}

.text-red {
  color: #ff3750;
}

.text-toupe {
  color: #cfb995;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-600 {
  font-weight: 600;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.middle {
  vertical-align: middle;
}

.icon-dote {
  width: 4px;
  height: 4px;
  background: #f3a536;
  display: inline-block;
  vertical-align: middle;
  border-radius: 90px;
}

.text-warning {
  color: #f3a536;
}

.nowrap {
  white-space: nowrap;
}

.felx-wrap {
  flex-wrap: wrap;
}

.screen-1,
.screen-2,
.screen-3,
.screen-4,
.screen-5,
.screen-6,
.screen-7,
.screen-8,
.screen-9,
.screen-10,
.screen-11,
.screen-12,
.col,
.screen-auto,
.screen-sm-1,
.screen-sm-2,
.screen-sm-3,
.screen-sm-4,
.screen-sm-5,
.screen-sm-6,
.screen-sm-7,
.screen-sm-8,
.screen-sm-9,
.screen-sm-10,
.screen-sm-11,
.screen-sm-12,
.screen-sm,
.screen-sm-auto,
.screen-md-1,
.screen-md-2,
.screen-md-3,
.screen-md-4,
.screen-md-5,
.screen-md-6,
.screen-md-7,
.screen-md-8,
.screen-md-9,
.screen-md-10,
.screen-md-11,
.screen-md-12,
.screen-md,
.screen-md-auto,
.screen-lg-1,
.screen-lg-2,
.screen-lg-3,
.screen-lg-4,
.screen-lg-5,
.screen-lg-6,
.screen-lg-7,
.screen-lg-8,
.screen-lg-9,
.screen-lg-10,
.screen-lg-11,
.screen-lg-12,
.screen-lg,
.screen-lg-auto,
.screen-xl-1,
.screen-xl-2,
.screen-xl-3,
.screen-xl-4,
.screen-xl-5,
.screen-xl-6,
.screen-xl-7,
.screen-xl-8,
.screen-xl-9,
.screen-xl-10,
.screen-xl-11,
.screen-xl-12,
.screen-xl,
.screen-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper,
.wrapper-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d--inlineblock {
  display: inline-block;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.text-white {
  color: #fff;
}

/*@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}*/
@media (min-width: 768px) {
  .wrapper {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .screen-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .screen-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .screen-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .screen-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .screen-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .screen-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .screen-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .screen-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .screen-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .screen-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .screen-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .screen-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .screen-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .screen-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .screen-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .screen-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .screen-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .screen-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .screen-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .screen-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .screen-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .screen-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .screen-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .screen-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .screen-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .screen-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .screen-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .screen-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .screen-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .screen-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .screen-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .screen-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .screen-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .screen-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .screen-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .screen-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .screen-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .screen-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .screen-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .screen-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .screen-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .screen-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .screen-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .screen-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .screen-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .screen-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .screen-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .screen-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .xs-order-1 {
    order: 1;
  }
  .xs-order-2 {
    order: 2;
  }
  .screen-xs-block {
    display: block;
  }
  .btn-single-jokes {
    margin-top: 30px;
  }
}

.margin-r-05 {
  margin-right: 5px !important;
}

.margin-l-05 {
  margin-left: 5px !important;
}

.margin-t-05 {
  margin-top: 5px !important;
}

.margin-b-05 {
  margin-bottom: 5px !important;
}

.margin-r-1 {
  margin-right: 10px !important;
}

.margin-l-1 {
  margin-left: 10px !important;
}

.margin-t-1 {
  margin-top: 10px !important;
}

.margin-b-1 {
  margin-bottom: 10px !important;
}

.margin-r-2 {
  margin-right: 20px !important;
}

.margin-l-2 {
  margin-left: 20px !important;
}

.margin-t-2 {
  margin-top: 20px !important;
}

.margin-b-2 {
  margin-bottom: 20px !important;
}

.margin-r-3 {
  margin-right: 30px !important;
}

.margin-l-3 {
  margin-left: 30px !important;
}

.margin-t-3 {
  margin-top: 30px !important;
}

.margin-b-3 {
  margin-bottom: 30px !important;
}

.margin-r-4 {
  margin-right: 40px !important;
}

.margin-l-4 {
  margin-left: 40px !important;
}

.margin-t-4 {
  margin-top: 40px !important;
}

.margin-b-4 {
  margin-bottom: 40px !important;
}

.margin-r-5 {
  margin-right: 50px !important;
}

.margin-l-5 {
  margin-left: 50px !important;
}

.margin-t-5 {
  margin-top: 50px !important;
}

.margin-b-5 {
  margin-bottom: 50px !important;
}

.padding-r-05 {
  padding-right: 5px !important;
}

.padding-l-05 {
  padding-left: 5px !important;
}

.padding-t-05 {
  padding-top: 5px !important;
}

.padding-b-05 {
  padding-bottom: 5px !important;
}

.padding-r-1 {
  padding-right: 10px !important;
}

.padding-l-1 {
  padding-left: 10px !important;
}

.padding-t-1 {
  padding-top: 10px !important;
}

.padding-b-1 {
  padding-bottom: 10px !important;
}

.padding-r-2 {
  padding-right: 20px !important;
}

.padding-l-2 {
  padding-left: 20px !important;
}

.padding-t-2 {
  padding-top: 20px !important;
}

.padding-b-2 {
  padding-bottom: 20px !important;
}

.padding-r-3 {
  padding-right: 30px !important;
}

.padding-l-3 {
  padding-left: 30px !important;
}

.padding-t-3 {
  padding-top: 30px !important;
}

.padding-b-3 {
  padding-bottom: 30px !important;
}

.padding-r-4 {
  padding-right: 40px !important;
}

.padding-l-4 {
  padding-left: 40px !important;
}

.padding-t-4 {
  padding-top: 40px !important;
}

.padding-b-4 {
  padding-bottom: 40px !important;
}

.padding-r-5 {
  padding-right: 50px !important;
}

.padding-l-5 {
  padding-left: 50px !important;
}

.padding-t-5 {
  padding-top: 50px !important;
}

.padding-b-5 {
  padding-bottom: 50px !important;
}

.header {
  background: #303030;
  position: relative;
  /*for mobile toggle*/
}

.header .logo {
  display: inline-block;
}

.header .header-nav .header-nav-list {
  margin-left: 20px;
}

.header .header-nav .header-nav-list > a {
  color: #fff;
  font-size: 15px;
  padding: 20px 15px;
  display: inline-block;
  font-weight: 600;
}

.header .header-nav .dropdown .btn-user {
  background-color: #cfb995;
}

.header .nav-toggle {
  display: none;
  padding: 14px 0 14px 14px;
}

.header .nav-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background: #cfb995;
  margin: 6px 0;
  border-radius: 90px;
}

@media only screen and (max-width: 991px) {
  .header .header-nav .header-nav-list {
    margin-left: 8px;
  }
  .header .header-nav .header-nav-list > a {
    font-size: 14px;
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header .nav-toggle {
    display: inline-block;
  }
  .header .header-nav {
    display: none;
    position: absolute;
    top: 58px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9;
  }
  .header .header-nav .header-nav-list {
    margin-left: 0px;
  }
  .header .header-nav .header-nav-list > a {
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    padding: 20px 20px;
    color: #303030;
    display: block;
  }
  .header .header-nav .dropdown .btn-user {
    color: #fff;
  }
  .header .header-nav.open {
    display: block;
  }
}

.input-field {
  background: transparent;
  border: 1px solid #ccc;
  width: 458px;
  height: 48px;
  padding: 12px 16px;
  border-radius: 4px;
}

button {
  transition: .5s all ease-in;
}

button:focus {
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 14px 16px;
  display: inline-block;
  min-width: 203px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid;
}

.btn-red, .btn-orange, .btn-pale-orange, .btn-green, .btn-cyan, .btn-weird-green, .btn-yellow {
  color: #fff;
}

.btn-red:hover, .btn-orange:hover, .btn-pale-orange:hover, .btn-green:hover, .btn-cyan:hover, .btn-weird-green:hover, .btn-yellow:hover {
  border-color: #5e5e5e;
  color: #5e5e5e;
}

.btn-red {
  background-color: #ff5b5b;
  border-color: #ff5b5b;
}

.btn-orange {
  background-color: #ff915b;
  border-color: #ff915b;
}

.btn-pale-orange {
  background-color: #ffbe5b;
  border-color: #ffbe5b;
}

.btn-yellow {
  background-color: #ffdf5b;
  border-color: #ffdf5b;
}

.btn-green {
  background-color: #8fe360;
  border-color: #8fe360;
}

.btn-weird-green {
  background-color: #57e690;
  border-color: #57e690;
}

.btn-cyan {
  background-color: #57dbe6;
  border-color: #57dbe6;
}

.btn-border-toupe {
  color: #cfb995;
}

.btn-border-toupe:hover {
  background-color: #cfb995;
  color: #fff;
}

.btn-border-toupe i {
  margin-top: 2px;
}

.badge-green {
  background-color: #57e690;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 3px 20px;
  border: 1px solid #57e690;
}

.badge-green:hover {
  color: #57e690;
  background-color: #fff;
}

.rounded {
  border-radius: 90px;
}

.badge-dotes {
  position: relative;
}

.badge-dotes:after {
  content: '';
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 90px;
  position: absolute;
  left: 8px;
  top: 9px;
}

.thumb-round {
  border: 0px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 90px;
  color: #fff;
  font-size: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

.red-thumb-round {
  background: #ff3750;
}

.red-thumb-round:hover {
  background: #ce2c40;
}

.green-thumb-round {
  background: #68b680;
}

.green-thumb-round:hover {
  background: #46915d;
}

.btn-border-white {
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  color: #cfb995;
  padding: 10px 16px;
  border: 1px solid #ecebe9;
  transition: .5s all ease;
}

.btn-border-white i {
  vertical-align: middle;
  position: relative;
  top: -1px;
  transition: .5s all ease;
}

.btn-border-white.next:hover i {
  right: -10px;
}

.btn-border-white.preview:hover i {
  left: -10px;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-list {
  position: absolute;
  top: 76px;
  left: 0;
  background: #fff;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;
  border-radius: 4px;
  padding: 0 7px 7px 7px;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.28);
}

.dropdown .dropdown-list:after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  content: "";
  position: absolute;
  top: -8px;
  right: 22px;
}

.dropdown .dropdown-list li a {
  color: #5e5e5e;
  border-bottom: solid 1px #d1d1d1;
  display: block;
  padding: 10px 10px;
}

.dropdown .dropdown-list li a:hover {
  color: #cfb995;
  font-weight: 600;
}

.dropdown .dropdown-list li:last-child a {
  border-bottom: solid 0px;
}

.dropdown.open .dropdown-list {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.home-banner {
  background: url(../images/01.jpg) no-repeat center center;
  padding: 65px 0;
  background-size: cover;
}

.home-banner h2 {
  color: #cfb995;
  font-size: 48px;
  line-height: 72px;
}

.home-banner h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 45px;
}

.home-banner .input-search {
  border: 1px solid #fff;
  width: 458px;
  height: 48px;
  padding-right: 16px;
  border-radius: 4px;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.home-banner .input-search .twitter-typeahead {
  width: 100%;
  position: initial !important;
}

.home-banner .input-search .twitter-typeahead .tt-menu {
  text-align: left;
  width: 100%;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  padding: 0 7px 7px 7px;
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.28);
  top: 70px !important;
}

.home-banner .input-search .twitter-typeahead .tt-menu .tt-suggestion.tt-selectable {
  color: #9c9c9c;
  border-bottom: solid 1px #d1d1d1;
  display: block;
  padding: 15px 10px;
  font-size: 15px;
  cursor: pointer;
}

.home-banner .input-search .twitter-typeahead .tt-menu .tt-suggestion.tt-selectable i {
  margin-right: 12px;
}

.home-banner .input-search .twitter-typeahead .tt-menu .tt-suggestion.tt-selectable:last-child {
  border-bottom: 0px solid;
}

.home-banner .input-search .twitter-typeahead .tt-menu .tt-suggestion.tt-selectable:hover {
  color: #cfb995;
}

.home-banner .input-search .twitter-typeahead .tt-menu:after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  content: "";
  position: absolute;
  top: -8px;
  left: 22px;
}

.home-banner .input-search input {
  background: transparent;
  border: 0px solid;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  font-size: 15px;
  color: #fff;
}

.home-banner .input-search input:focus {
  outline: none;
}

.home-banner .input-search input::-webkit-input-placeholder {
  color: #b2b2b2;
  font-size: 15px;
}

.home-banner .input-search ::-moz-placeholder {
  color: #b2b2b2;
  font-size: 15px;
}

.home-banner .input-search :-ms-input-placeholder {
  color: #b2b2b2;
  font-size: 15px;
}

.home-banner .input-search ::-webkit-input-placeholder {
  color: #b2b2b2;
  font-size: 15px;
}

.home-banner .input-search ::placeholder {
  color: #b2b2b2;
  font-size: 15px;
}

.jokes-main {
  padding: 60px 0;
}

.jokes-main .home-buttons .btn {
  margin-bottom: 16px;
  margin-right: 20px;
}

.jokes-main .home-buttons .btn:last-child {
  margin-right: 0px;
}

.jokes-main .border-t-1 {
  border-top: 1px solid #ecebe9;
}

.jokes-main .jokes-row .screen-md-4 {
  margin-bottom: 38px;
}

.jokes-main .jokes-row .jokes-box {
  background: #fff;
  padding: 16px;
  border-radius: 2px;
  border: 1px solid #ecebe9;
  transition: 0.5s all ease;
  height: 100%;
}

.jokes-main .jokes-row .jokes-box:hover {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
}

.jokes-main .jokes-row .jokes-box .see-status {
  font-weight: 600;
  color: #cfb995;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.jokes-main .jokes-row .jokes-box .see-status i {
  vertical-align: bottom;
  font-size: 20px;
  margin-left: 5px;
}

.jokes-main .jokes-row .jokes-box .jokes-box-text {
  height: 90%;
  padding-bottom: 30px;
}

.jokes-main .jokes-row .jokes-box h4 {
  font-size: 16px;
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.jokes-main .jokes-row .jokes-box h4 i {
  color: #ffdf5b;
}

.jokes-main .jokes-row .jokes-box p {
  line-height: 22px;
}

.footer-submit-main {
  background: url(../images/02.jpg) no-repeat center center;
  padding: 60px 0;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .home-banner {
    padding: 30px 0;
  }
  .home-banner h2 {
    font-size: 38px;
  }
  .home-banner h4 {
    font-size: 18px;
    line-height: initial;
    margin-bottom: 20px;
  }
  .home-banner .input-search {
    width: 100%;
  }
  .jokes-main {
    padding: 40px 0;
  }
  .jokes-main .jokes-row .screen-md-4 {
    margin-bottom: 15px;
  }
  .jokes-main .home-buttons .btn {
    margin-bottom: 16px;
    margin-right: 8px;
    min-width: 130px;
  }
}

.single-joke {
  padding: 60px 0;
}

.single-joke .single-joke-box {
  background: #fff;
  padding: 17px 22px 24px 16px;
  border-radius: 4px;
  border: 1px solid #ecebe9;
}

.single-joke .single-joke-box h2 {
  font-size: 40px;
}

.single-joke .single-joke-box .line-row {
  border-bottom: 1px solid #cfb995;
  display: block;
  width: 235px;
  margin: 0 15px;
}

.single-joke .single-joke-box .single-jokes-text p {
  margin-bottom: 20px;
}

.single-joke .single-joke-box .single-jokes-text p:last-child {
  margin-bottom: 0px;
}

.single-joke .jokes-right-box {
  background: #fff;
  padding: 32px;
  border-radius: 4px;
  border: 1px solid #ecebe9;
}

.single-joke .jokes-right-box ul li a {
  color: #313131;
  font-size: 15px;
  display: inline-block;
  text-decoration: underline;
  padding: 5px 0;
}

.single-joke .jokes-right-box ul li a:hover {
  color: #cfb995;
}

@media only screen and (max-width: 1199px) {
  .single-joke .single-joke-box h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 767px) {
  .single-joke {
    padding: 40px 0;
  }
  .single-joke .single-joke-box h2 {
    font-size: 26px;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .single-joke .single-joke-box .line-row {
    flex: 0 0 200px;
  }
}

/*# sourceMappingURL=style.css.map */