.header {
    background: $black;
    position: relative;
    .logo {
        display: inline-block;
    }
    .header-nav {
        .header-nav-list {
            margin-left: 20px;
            > a {
                color: $white;
                font-size: 15px;
                padding: 20px 15px;
                display: inline-block;
                font-weight: 600;
            }
        }
        .dropdown {
            .btn-user {
                background-color: $toupe;
            }
        }
    }
    /*for mobile toggle*/
    .nav-toggle {
        display: none;
        padding: 14px 0 14px 14px;
        span {
            display: block;
            width: 25px;
            height: 2px;
            background: $toupe;
            margin: 6px 0;
            border-radius: 90px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .header-nav {
            .header-nav-list {
                margin-left: 8px;
                > a {
                    font-size: 14px;
                    padding: 20px 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .header {
        .nav-toggle {
            display: inline-block;
        }
        .header-nav {
            display: none;
            position: absolute;
            top: 58px;
            width: 100%;
            left: 0;
            right: 0;
            z-index: 9;
            .header-nav-list {
                margin-left: 0px;
                > a {
                    background: $white;
                    border-bottom: 1px solid $pinkish-grey;
                    padding: 20px 20px;
                    color: $black;
                    display: block;
                }
            }
            .dropdown {
                .btn-user {
                    color: $white;
                }
            }
        }
        .header-nav.open {
            display: block;
        }
    }
}
