.margin-r-05 {
    margin-right: 5px !important;
}
.margin-l-05 {
    margin-left: 5px !important;
}
.margin-t-05 {
    margin-top: 5px !important;
}
.margin-b-05 {
    margin-bottom: 5px !important;
}
.margin-r-1 {
    margin-right: 10px !important;
}
.margin-l-1 {
    margin-left: 10px !important;
}
.margin-t-1 {
    margin-top: 10px !important;
}
.margin-b-1 {
    margin-bottom: 10px !important;
}
.margin-r-2 {
    margin-right: 20px !important;
}
.margin-l-2 {
    margin-left: 20px !important;
}
.margin-t-2 {
    margin-top: 20px !important;
}
.margin-b-2 {
    margin-bottom: 20px !important;
}

.margin-r-3 {
    margin-right: 30px !important;
}
.margin-l-3 {
    margin-left: 30px !important;
}
.margin-t-3 {
    margin-top: 30px !important;
}
.margin-b-3 {
    margin-bottom: 30px !important;
}

.margin-r-4 {
    margin-right: 40px !important;
}
.margin-l-4 {
    margin-left: 40px !important;
}
.margin-t-4 {
    margin-top: 40px !important;
}
.margin-b-4 {
    margin-bottom: 40px !important;
}

.margin-r-5 {
    margin-right: 50px !important;
}
.margin-l-5 {
    margin-left: 50px !important;
}
.margin-t-5 {
    margin-top: 50px !important;
}
.margin-b-5 {
    margin-bottom: 50px !important;
}

//   padding
.padding-r-05 {
    padding-right: 5px !important;
}
.padding-l-05 {
    padding-left: 5px !important;
}
.padding-t-05 {
    padding-top: 5px !important;
}
.padding-b-05 {
    padding-bottom: 5px !important;
}
.padding-r-1 {
    padding-right: 10px !important;
}
.padding-l-1 {
    padding-left: 10px !important;
}
.padding-t-1 {
    padding-top: 10px !important;
}
.padding-b-1 {
    padding-bottom: 10px !important;
}
.padding-r-2 {
    padding-right: 20px !important;
}
.padding-l-2 {
    padding-left: 20px !important;
}
.padding-t-2 {
    padding-top: 20px !important;
}
.padding-b-2 {
    padding-bottom: 20px !important;
}
.padding-r-3 {
    padding-right: 30px !important;
}
.padding-l-3 {
    padding-left: 30px !important;
}
.padding-t-3 {
    padding-top: 30px !important;
}
.padding-b-3 {
    padding-bottom: 30px !important;
}
.padding-r-4 {
    padding-right: 40px !important;
}
.padding-l-4 {
    padding-left: 40px !important;
}
.padding-t-4 {
    padding-top: 40px !important;
}
.padding-b-4 {
    padding-bottom: 40px !important;
}
.padding-r-5 {
    padding-right: 50px !important;
}
.padding-l-5 {
    padding-left: 50px !important;
}
.padding-t-5 {
    padding-top: 50px !important;
}
.padding-b-5 {
    padding-bottom: 50px !important;
}