.home-banner {
    background: url(#{$imgpath}/01.jpg) no-repeat center center;
    padding: 65px 0;
    background-size: cover;
    h2 {
        color: $toupe;
        font-size: 48px;
        line-height: 72px;
    }
    h4 {
        font-size: 22px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 45px;
    }
    .input-search {
        border: 1px solid $white;
        width: 458px;
        height: 48px;
        padding-right: 16px;
        border-radius: 4px;
        margin: 0 auto;
        color: $white;
        font-size: 20px;
        position: relative;
        .twitter-typeahead {
            width: 100%;
            position: initial !important;
            .tt-menu {
                text-align: left;
                width: 100%;
                background: $white;
                width: 100%;
                border-radius: 4px;
                padding: 0 7px 7px 7px;
                box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.28);
                top: 70px !important;
                .tt-suggestion.tt-selectable {
                    color: $warm-grey;
                    border-bottom: solid 1px $pinkish-grey;
                    display: block;
                    padding: 15px 10px;
                    font-size: 15px;
                    cursor: pointer;
                    i   {
                        margin-right: 12px;
                    }
                    &:last-child {
                        border-bottom: 0px solid;
                    }
                    &:hover {
                        color: $toupe;
                    }
                }
                &:after {
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid $white;
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 22px;
                }
            }
        }
        input {
            background: transparent;
            border: 0px solid;
            width: 100%;
            height: 48px;
            padding: 12px 16px;
            font-size: 15px;
            color: $white;
            &:focus {
                outline: none;
            }
        }
        input::-webkit-input-placeholder {
            color: $greyish;
            font-size: 15px;
        }
        ::-moz-placeholder {
            color: $greyish;
            font-size: 15px;
        }
        :-ms-input-placeholder {
            color: $greyish;
            font-size: 15px;
        }
        ::-webkit-input-placeholder {
            color: $greyish;
            font-size: 15px;
        }
        ::placeholder {
            color: $greyish;
            font-size: 15px;
        }
    }
}
.jokes-main {
    padding: 60px 0;
    .home-buttons {
        .btn {
            margin-bottom: 16px;
            margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .border-t-1 {
        border-top: 1px solid $white-three;
    }
    .jokes-row {
        .screen-md-4 {
            margin-bottom: 38px;
        }
        .jokes-box {
            background: $white;
            padding: 16px;
            border-radius: 2px;
            border: 1px solid $white-three;
            transition: 0.5s all ease;
            height: 100%;
            &:hover {
                box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
            }
            .see-status {
                font-weight: 600;
                color: $toupe;
                text-transform: uppercase;
                padding-bottom: 10px;
                i {
                    vertical-align: bottom;
                    font-size: 20px;
                    margin-left: 5px;
                }
            }
            .jokes-box-text {
                height: 90%;
                padding-bottom: 30px;
            }
            h4 {
                font-size: 16px;
                color: $black;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 6px;
                i {
                    color: $light-gold;
                }
            }
            p {
                line-height: 22px;
            }
        }
    }
}
.footer-submit-main {
    background: url(#{$imgpath}/02.jpg) no-repeat center center;
    padding: 60px 0;
    background-size: cover;
}
@media only screen and (max-width: 767px) {
    .home-banner {
        h2 {
            font-size: 38px;
        }
        h4 {
            font-size: 18px;
            line-height: initial;
            margin-bottom: 20px;
        }
        padding: 30px 0;
        .input-search {
            width: 100%;
        }
    }
    .jokes-main {
        padding: 40px 0;
        .jokes-row {
            .screen-md-4 {
                margin-bottom: 15px;
            }
        }
        .home-buttons {
            .btn {
                margin-bottom: 16px;
                margin-right: 8px;
                min-width: 130px;
            }
        }
    }
}
