.single-joke {
    padding: 60px 0;
    .single-joke-box {
        background: $white;
        padding: 17px 22px 24px 16px;
        border-radius: 4px;
        border: 1px solid $white-three;
        h2 {
            font-size: 40px;
        }
        .line-row {
            border-bottom: 1px solid $toupe;
            display: block;
            width: 235px;
            margin: 0 15px;
        }
        .single-jokes-text {
            p {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .jokes-right-box {
        background: $white;
        padding: 32px;
        border-radius: 4px;
        border: 1px solid $white-three;
        ul {
            li {
                a {
                    color: $black-two;
                    font-size: 15px;
                    display: inline-block;
                    text-decoration: underline;
                    padding: 5px 0;
                    &:hover {
                        color: $toupe;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .single-joke {
        .single-joke-box {
            h2 {
                font-size: 26px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .single-joke {
        padding: 40px 0;
        .single-joke-box {
            h2 {
                font-size: 26px;
                white-space: nowrap;
                margin-bottom: 20px;
            }
            .line-row {
                flex: 0 0 200px;
            }
        }
    }
}

